[submodule "src/subjugator/drivers/vectornav"]
	path = src/subjugator/drivers/vectornav
	url = https://github.com/uf-mil/vectornav.git
[submodule "src/subjugator/drivers/waterlinked_dvl"]
	path = src/subjugator/drivers/waterlinked_dvl
	url = https://github.com/uf-mil/waterlinked_dvl.git
[submodule "src/mil_common/perception/vision_stack"]
	path = src/mil_common/perception/vision_stack
	url = https://github.com/uf-mil/vision_stack.git
