<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- Macro for inserting a Active Sonar -->
  <xacro:macro
    name="mil_active_sonar"
    params="name parent xyz rpy"
  >
    <!-- Active Sonar Link -->
     <link name="${name}_link">
      <origin xyz="0 0 -0.06" rpy="0 0 0"/>
      <inertial>
        <origin xyz="0 0 -0.06" rpy="0 0 0"/>
        <mass value="0.1"/> 
        <inertia ixx="0.001" iyy="0.001" izz="0.001" ixy="0" ixz="0" iyz="0"/>
      </inertial>
    </link>

    <!-- Active Sonar Joint -->
    <joint name="${name}_joint" type="fixed">
      <origin xyz="${xyz}" rpy="${rpy}"/>
      <parent link="${parent}"/>
      <child link="${name}_link"/>
    </joint>

    <!-- This ensures that the fixed link is not simplified away -->
    <gazebo reference="${name}_joint">
      <disableFixedJointLumping>true</disableFixedJointLumping> 
      <preserveFixedJoint>true</preserveFixedJoint>
    </gazebo>
    
    <!-- Sensor/Plugin Info-->
    <gazebo reference="${name}_link">
      <sensor
        name="Ping360" type="gpu_lidar">
        <pose>0 0 0 0 0 0</pose>
        <always_on>1</always_on>
        <update_rate>8</update_rate>
        <visualize>true</visualize>
        <topic>/active_sonar/raw_data</topic>
          <lidar>
            <scan>
              <horizontal>
                <samples>720</samples>
                <resolution>1</resolution>
                <min_angle>-3.14</min_angle>
                <max_angle>3.14</max_angle>
              </horizontal>
              <vertical>
              <samples>50</samples>
              <resolution>1</resolution>
              <min_angle>0</min_angle>
              <max_angle>1.2</max_angle>
            </vertical>
            </scan>
            <range>
              <min>0.1</min>
              <max>30</max>
              <resolution>0.01</resolution>
            </range>
            <frame_id>${name}_link</frame_id>
          </lidar>
          <plugin
          filename="ActiveSonar"
          name="active_sonar::ActiveSonar">
          </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>