<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- Macro for inserting the sonar -->
  <xacro:macro
    name="mil_active_sonar"
    params="name parent xyz rpy"
  > 
    <!-- Sonar Link -->
     <link name="${name}_link">
      <origin xyz="0 0 0" rpy="0 0 0"/>

      <!-- Inertial Properties - necessary for collider to exist -->
      <inertial>
        <!-- The following tags DO NOT work to rotate the collider and exist
             so that work does not have to be repeated -->
        <!-- <pose>-0.15 0 -0.05 0 0 0</pose>
        <axis>
          <xyz>0 1 0</xyz>
        </axis> -->
        <!-- End test tags -->
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="1"/>
        <inertia ixx="1.0" ixy="0.0" ixz="0.0"
                 iyy="1.0" iyz="0.0"
                 izz="1.0"/>
      </inertial>

      <collision name="${name}_collision">
        <!-- This collision is for calculating the buoyant forces-->
        <origin rpy="0 0 0" xyz="0 0 -0.6"/>
        <geometry>
          <box size="0.05 0.05 1"/>
        </geometry>
      </collision>
    </link>

    <!-- Sonar Joint -->
    <joint name="${name}_joint" type="fixed">
      <origin xyz="${xyz}" rpy="${rpy}"/>
      <parent link="${parent}"/>
      <child link="${name}_link"/>
    </joint>

    <!-- This ensures that the fixed link is not simplified away -->
    <gazebo reference="${name}_joint">
      <disableFixedJointLumping>true</disableFixedJointLumping> 
      <preserveFixedJoint>true</preserveFixedJoint>
    </gazebo>
    
    <!-- Plugin Info-->
    <gazebo>
        <plugin
          filename="ActiveSonar"
          name="active_sonar::ActiveSonar">
        </plugin>
      </gazebo>
    </xacro:macro>
</robot>