<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- Macro for inserting a camera -->
  <xacro:macro
    name="mil_camera"
    params="name namespace='/camera'
                        parent='base_link' xyz='0 0 0' rpy='0 0 0'
                        width=960 height=600 fov=1.047 fps=30
                        k1=0 k2=0 t1=0 t2=0 k3=0"
  >
    <link name="${name}_link"/>

    <joint name="${name}_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="${name}_link"/>
      <origin xyz="${xyz}" rpy="${rpy}"/>
    </joint>

    <gazebo reference="${name}_link">
      <sensor name="${name}_camera" type="rgbd_camera">
        <update_rate>${fps}</update_rate>
        <visualize>true</visualize>
        <always_on>1</always_on>
        <topic>${namespace}/image_raw</topic>
        <camera>
          <horizontal_fov>${fov}</horizontal_fov>
          <image>
            <width>${width}</width>
            <height>${height}</height>
          </image>
          <clip>
            <near>0.1</near>
            <far>10.0</far>
          </clip>
        </camera>
        <plugin
          filename="UnderwaterCamera"
          name="dave_gz_sensor_plugins::UnderwaterCamera">
          <attenuationR>0.8</attenuationR>
          <attenuationG>0.5</attenuationG>
          <attenuationB>0.2</attenuationB>
          <!-- Murky Coastal Waters -->
          <backgroundR>85</backgroundR>
          <backgroundG>107</backgroundG>
          <backgroundB>47</backgroundB>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>
