<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" xmlns:experimental="http://sdformat.org/schemas/experimental" xmlns:gz="http://gazebosim.org/schema">
  <!-- Macro for subjugator's collisions -->
  <xacro:macro name="collision">
    <!-- Main body collisions of submarine -->
    <collision name="main_collision">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="0.945 0.35 0.4"/>
      </geometry>
    </collision>
    <collision name="front_right_wing_collision">
      <origin rpy="0 0 0" xyz="-0.25 0.235 0.05"/>
      <geometry>
        <box size="0.25 0.1 0.1"/>
      </geometry>
    </collision>
    <collision name="back_right_wing_collision">
      <origin rpy="0 0 0" xyz="0.22 0.235 0.05"/>
      <geometry>
        <box size="0.25 0.1 0.1"/>
      </geometry>
    </collision>
    <collision name="front_left_wing_collision">
      <origin rpy="0 0 0" xyz="-0.25 -0.235 0.05"/>
      <geometry>
        <box size="0.25 0.1 0.1"/>
      </geometry>
    </collision>
    <collision name="back_left_wing_collision">
      <origin rpy="0 0 0" xyz="0.22 -0.235 0.05"/>
      <geometry>
        <box size="0.25 0.1 0.1"/>
      </geometry>
    </collision>
    <!-- Collisions for small legs at bottom of submarine -->
    <collision name="front_right_leg_collision">
      <origin rpy="0 0 0" xyz="-0.4 0.11 -0.2275"/>
      <geometry>
        <box size="0.1 0.065 0.055"/>
      </geometry>
    </collision>
    <collision name="front_left_leg_collision">
      <origin rpy="0 0 0" xyz="-0.4 -0.11 -0.2275"/>
      <geometry>
        <box size="0.1 0.065 0.055"/>
      </geometry>
    </collision>
    <collision name="back_right_leg_collision">
      <origin rpy="0 0 0" xyz="0.355 0.11 -0.2275"/>
      <geometry>
        <box size="0.1 0.065 0.055"/>
      </geometry>
    </collision>
    <collision name="back_left_leg_collision">
      <origin rpy="0 0 0" xyz="0.355 -0.11 -0.2275"/>
      <geometry>
        <box size="0.1 0.065 0.055"/>
      </geometry>
    </collision>
    <!-- Collisions for protruding parts on top of submarine -->
    <collision name="front_top_cylinder_collision">
      <origin rpy="0 0 0" xyz="-0.41 0 0.24"/>
      <geometry>
        <box size="0.1 0.19 0.075"/>
      </geometry>
    </collision>
    <collision name="back_top_cylinder_collision">
      <origin rpy="0 0 0" xyz="0.41 0 0.2625"/>
      <geometry>
        <box size="0.1 0.1 0.12"/>
      </geometry>
    </collision>
    <collision name="front_top_cylinder_collision">
      <origin rpy="0 0 0" xyz="-0.5025 0 0.07"/>
      <geometry>
        <box size="0.0575 0.125 0.125"/>
      </geometry>
    </collision>
  </xacro:macro>
</robot>