<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro
    name="mil_dvl_sensor"
    params="name parent xyz rpy"
  >
    <link name="${name}"/>
    <joint name="${name}_joint" type="fixed">
      <origin xyz="${xyz}" rpy="${rpy}"/>
      <parent link="${parent}"/>
      <child link="${name}"/>
    </joint>
    <gazebo reference="${name}">
      <sensor name="${name}" type="imu">
        <always_on>true</always_on>

        <!-- DVL Sensor Plugin -->
          <plugin
              filename="DVLSensor"
              name="dvl_sensor::DVLSensor">
          </plugin>

      </sensor>
    </gazebo>
    </xacro:macro>
</robot>