<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" xmlns:experimental="http://sdformat.org/schemas/experimental" xmlns:gz="http://gazebosim.org/schema">
  <xacro:macro name="position_sensor" params="name parent xyz rpy">
    <link name="${name}_link">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.01"/>
        <inertia ixx="0.0001" iyy="0.0001" izz="0.0001" ixy="0" ixz="0" iyz="0"/>
      </inertial>
    </link>

    <!-- Position sensor joint -->
    <joint name="${name}_joint" type="fixed">
      <origin xyz="${xyz}" rpy="${rpy}"/>
      <parent link="${parent}"/>
      <child link="${name}_link"/>
    </joint>

    <!-- Attach plugin to this specific link -->
    <gazebo reference="${name}_link">
      <plugin filename="RealPosition" name="real_position::RealPosition">
        <topic>/my_robot/pose</topic>
        <publish_frequency>10</publish_frequency>
      </plugin>
    </gazebo>
  </xacro:macro>
</robot>
