<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro
    name="mil_true_position"
    params="
      name
      namespace='/true_position'
      parent='base_link'
      xyz='0 0 0'
      rpy='0 0 0'
      update_rate='10'
      frame_id='true_position_frame'
      noise_mean='0.0'
      noise_stddev='0.0'
    "
  >
    <link name="${name}_link">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.1"/>
        <inertia ixx="0.001" iyy="0.001" izz="0.001" ixy="0" ixz="0" iyz="0"/>
      </inertial>
    </link>

    <!-- Joint -->
    <joint name="${name}_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="${name}_link"/>
      <origin xyz="${xyz}" rpy="${rpy}"/>
    </joint>

    <!-- This ensures that the fixed link is not simplified away -->
    <gazebo reference="${name}_joint">
      <disableFixedJointLumping>true</disableFixedJointLumping>
      <preserveFixedJoint>true</preserveFixedJoint>
    </gazebo>

    <gazebo>
      <plugin name="true_position::TruePosition" filename="TruePosition">
        <frame_id>${frame_id}</frame_id>
        <offset>0 0 0 0 0 0</offset>
        <topic>/depth</topic>
        <update_rate>${update_rate}</update_rate>
        <noise_mean>${noise_mean}</noise_mean>
        <noise_stddev>${noise_stddev}</noise_stddev>
      </plugin>
    </gazebo>
  </xacro:macro>
</robot>
