<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- === engine === -->
  <xacro:include filename="$(find navigator_description)/urdf/components/mil_engine.xacro"/>
  <xacro:mil_engine prefix="BL" position="-1.9304 1.1 0.318237" orientation="0.0 0.0 0.785398" mech_reduction="1.35"/>
  <xacro:mil_engine prefix="BR" position="-1.9304 -1.1 0.318237" orientation="0.0 0.0 -0.785398" mech_reduction="1.35"/>
  <xacro:mil_engine prefix="FL" position="1.46 0.54 0.49675" orientation="0.0 0.0 -0.785398" mech_reduction="1.35"/>
  <xacro:mil_engine prefix="FR" position="1.46 -0.54 0.49657" orientation="0.0 0.0 0.785398" mech_reduction="1.35"/>

  <xacro:include filename="$(find navigator_description)/urdf/thruster_layouts/mil_gazebo_thruster_config.xacro"/>
  <xacro:mil_gazebo_thruster_config prefix="BL"/>
  <xacro:mil_gazebo_thruster_config prefix="BR"/>
  <xacro:mil_gazebo_thruster_config prefix="FL"/>
  <xacro:mil_gazebo_thruster_config prefix="FR"/>
</robot>
