<?xml version="1.0"?>
<model>
  <name>prop</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Carlos Chavez</name>
    <email>cforcarlos22@gmail.com</email>
  </author>
  <description>
    The prop boat: a hull, two aft thrusters, an IMU, a GPS and a lidar.
  </description>
</model>
