<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="sub9">

  <!-- XACRO INCLUDES -->
  <xacro:include filename="$(find subjugator_description)/urdf/xacro/fixed_link.xacro"/>
  <xacro:include filename="$(find subjugator_description)/urdf/xacro/camera.xacro"/>
  <xacro:include filename="$(find subjugator_description)/urdf/xacro/imu_magnetometer.xacro"/>
  <xacro:include filename="$(find subjugator_description)/urdf/xacro/new_dvl.xacro"/>
  <xacro:include filename="$(find subjugator_description)/urdf/xacro/collision.xacro"/>

  <!-- KDL Parser does not like inertial base links, so use a 'fake' massless root link -->
  <link name="base_link"/>
  <joint name="fixed" type="fixed">
    <parent link="base_link"/>
    <child link="link1"/>
  </joint>

  <!-- Base Link of the Sub -->
  <link name="link1">
    <inertial>
      <mass value="21.5"/>
      <inertia ixx="0.96105" ixy="0" ixz="0" iyy="1.799" iyz="0" izz="2.1286"/>
    </inertial>
    <visual name="visual">
      <origin rpy="0 0 0" xyz="-0.1 0.0125 0"/>
      <geometry>
        <mesh filename="package://subjugator_description/urdf/meshes/sub9.dae"/>
      </geometry>
    </visual>

    <!-- Imports subjugator's collisions from seperate XACRO -->
    <xacro:collision />
  </link>

  <gazebo>
    <plugin
        filename="gz-sim-hydrodynamics-system"
        name="gz::sim::systems::Hydrodynamics">
      <link_name>base_link</link_name>
      <xDotU>-0.04876161</xDotU>
      <yDotV>-1.26324739</yDotV>
      <zDotW>-1.26324739</zDotW>
      <kDotP>0</kDotP>
      <mDotQ>-0.3346</mDotQ>
      <nDotR>-0.3346</nDotR>
      <xUabsU>-0.62282</xUabsU>
      <xU>-5</xU>
      <yVabsV>-60.127</yVabsV>
      <yV>-5</yV>
      <zWabsW>-6.0127</zWabsW>
      <zW>-100</zW>
      <kPabsP>-0.001916</kPabsP>
      <kP>-1</kP>
      <mQabsQ>-6.32698957</mQabsQ>
      <mQ>-1</mQ>
      <nRabsR>-6.32698957</nRabsR>
      <nR>-1</nR>
    </plugin>
  </gazebo>
  
  <!-- Sensors -->
  <xacro:mil_fixed_link name="front_stereo" parent="base_link" xyz="0.2559 0 0.1707" rpy="0 0 0"/>
  <xacro:mil_camera name="front_left_cam" parent="front_stereo" namespace="/camera/front/left" xyz="-0.65 0 -0.3" rpy="0 0 9.5"/>
  <!-- <xacro:mil_camera name="front_right_cam" parent="front_stereo" namespace="/camera/front/right" xyz="0 -0.0445 0" rpy="0 0 0"/>
  <xacro:mil_camera name="down_left_cam" parent="base_link" namespace="/camera/down" xyz="0.054 0.105 -0.256" rpy="0 1.57 1.57"/> -->

  <!-- DVL Sensor-->
  <xacro:mil_dvl_sensor
    name="dvl_sensor"
    parent="base_link"
    xyz="0.21236 0.00254 -0.10233"
    rpy="0 0 0"
  />

  <xacro:mil_imu_magnetometer
    name="imu"
    parent="base_link"
    imu_topic='/imu/data_raw'
    xyz="0.21236 0.00254 -0.10233"
    rpy="0 -1.571 0"
    rate="210"
    ax="0.015707963"
    ay="0.015707963"
    az="0.015707963"
    lx="0.08825985"
    ly="0.08825985"
    lz="0.08825985"
  />

</robot>
