<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="sub9">
  <!-- XACRO INCLUDES -->
  <xacro:include filename="$(find subjugator_description)/urdf/xacro/fixed_link.xacro"/>
  <xacro:include filename="$(find subjugator_description)/urdf/xacro/camera.xacro"/>
  <xacro:include filename="$(find subjugator_description)/urdf/xacro/imu_magnetometer.xacro"/>
  <xacro:include filename="$(find subjugator_description)/urdf/xacro/dvl.xacro"/>
  <xacro:include filename="$(find subjugator_description)/urdf/xacro/collision.xacro"/>
  <xacro:include filename="$(find subjugator_description)/urdf/xacro/thruster.xacro"/>

  <!-- Base Link of the Sub -->
  <link name="base_link">
    <!-- Sub's Pose -->
    <origin rpy="0 0 0" xyz="-0.1 0.0125 -1"/>

    <!-- Inertial Properties -->
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <!-- Need to be properly calculated at some point -->
      <mass value="30.5"/>
      <inertia ixx="0.96105" ixy="0.003" ixz="-0.02" iyy="1.799" iyz="0.0003" izz="2.1286"/>
    </inertial>

    <!-- Visual Data-->
    <visual name="visual">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://subjugator_description/urdf/meshes/Sub9.dae"/>
      </geometry>
    </visual>
    <!-- Collision Data -->
    <collision name="main_collision">
      <!-- This collision is for calculating the buoyant forces-->
      <origin rpy="0 0 0" xyz="0 0 0.1"/>
      <geometry>
        <box size="0.9 0.35 0.2"/>
      </geometry>
    </collision>
    <!-- Need to add 'shell' collisions-->
  </link>

  <gazebo>
    <plugin filename="gz-sim-hydrodynamics-system" name="gz::sim::systems::Hydrodynamics">
      <link_name>base_link</link_name>
      <xDotU>-2</xDotU>
      <yDotV>-5</yDotV>
      <zDotW>-5</zDotW>
      <kDotP>-0.1</kDotP>
      <mDotQ>-1</mDotQ>
      <nDotR>-1</nDotR>
      <xUabsU>-25</xUabsU>
      <xU>-50</xU>
      <yVabsV>-25</yVabsV>
      <yV>-50</yV>
      <zWabsW>-5</zWabsW>
      <zW>-50</zW>
      <kPabsP>-5</kPabsP>
      <kP>-10</kP>
      <mQabsQ>-5</mQabsQ>
      <mQ>-10</mQ>
      <nRabsR>-5</nRabsR>
      <nR>-10</nR>
    </plugin>
  </gazebo>

  <!-- Cameras -->
  <xacro:mil_camera name="front_cam" parent="base_link" xyz="-0.32 -0.014274 -0.050" rpy="0 0 3.14159"/>
  <xacro:mil_camera name="down_cam" parent="base_link" xyz="-0.15222 0.027913 -0.22" rpy="0 1.57 0"/>

  <!-- DVL Sensor -->
  <xacro:mil_dvl_sensor name="dvl_sensor" parent="base_link" xyz="0.21236 0.00254 -0.10233" rpy="0 0 0"/>

  <!-- IMU, Magnetometer -->
  <xacro:mil_imu_magnetometer
    name="imu"
    namespace='/imu'
    parent="base_link"
    xyz="0.0632 -0.164 -0.079"
    rpy="0 0 0"
    rate="210"
    ax="0.015707963"
    ay="0.015707963"
    az="0.015707963"
    lx="0.08825985"
    ly="0.08825985"
    lz="0.08825985"
  />

  <!-- Thrusters -->
  <!-- Front/Back Left/Right Vertical/Horizontal -->
  <!-- Orientation seem to be correct -->
  <xacro:mil_thruster name="FLV" parent="base_link" xyz="-0.15217 -0.16474 0.010449" rpy="0 0 0"/>
  <xacro:mil_thruster name="FRV" parent="base_link" xyz="-0.1492 0.13821 0.010449" rpy="0 0 0"/>
  <xacro:mil_thruster name="BRV" parent="base_link" xyz="0.31117 0.13821 0.010449" rpy="0 0 0"/>
  <xacro:mil_thruster name="BLV" parent="base_link" xyz="0.30868 -0.16621 0.010449" rpy="0 0 0"/>

  <xacro:mil_thruster name="FLH" parent="base_link" xyz="-0.14714 -0.26409 0.038317" rpy="-1.5708 0 0.7854"/>
  <xacro:mil_thruster name="FRH" parent="base_link" xyz="-0.147 0.2413 0.038324" rpy="1.5708 0 -0.7854"/>
  <xacro:mil_thruster name="BRH" parent="base_link" xyz="0.32369 0.22645 0.038317" rpy="-1.5708 0 0.7854"/>
  <xacro:mil_thruster name="BLH" parent="base_link" xyz="0.32397 -0.25204 0.038324" rpy="1.5708 0 -0.7854"/>
</robot>
